---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Support">
  <main class="lg:grid lg:grid-cols-2">
    <!-- Left Column - Fixed Background Image -->
    <div
      class="hidden lg:block bg-cover bg-center bg-fixed absolute top-0 left-0 w-1/2 h-screen -z-10"
      style="background-image: url('/bg.webp')"
    >
    </div>

    <!-- Right Column - Content -->
    <div class="lg:col-start-2 bg-white px-4 py-16 lg:px-12">
      <!-- Title -->
      <h1 class="text-7xl font-bold text-dark mb-16">Support</h1>

      <!-- Cards Stack -->
      <div class="flex flex-col gap-8">
        <Card
          title="REMOTE SUPPORT"
          description="Click below to receive remote support."
          linkText="remote support"
          image="/typing-laptop.jpg"
        />

        <Card
          title="INCIDENCE ONLINE"
          description="To create a new online ticket, click here."
          linkText="click here"
          image="/woman-phone.jpg"
        />

        <Card
          title="CONTACT"
          description="To contact us, click here."
          linkText="click here"
          image="/people-meeting.jpg"
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    min-height: calc(100vh - 384px); /* Subtract footer height */
  }
</style>
