---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Izertis clone site" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <script>
      // Navbar color change on scroll
      const header = document.querySelector("header");
      const langLinks = document.querySelectorAll(".lang-link");

      window.addEventListener("scroll", () => {
        if (window.scrollY > 0) {
          header.classList.add("bg-primary");
          header.classList.remove("bg-transparent");
          langLinks.forEach((link) => {
            link.classList.remove("text-primary");
            link.classList.add("text-white");
          });
        } else {
          header.classList.remove("bg-primary");
          header.classList.add("bg-transparent");
          langLinks.forEach((link) => {
            link.classList.add("text-primary");
            link.classList.remove("text-white");
          });
        }
      });
    </script>
    <header
      class="fixed w-full top-0 z-50 transition-colors duration-300 bg-transparent"
    >
      <div
        class="container mx-auto px-4 py-3 flex justify-between items-center"
      >
        <div class="logo">
          <img
            src="/FIFA_Logo_White_Generic.webp"
            alt="FIFA"
            class="h-8 w-auto"
          />
        </div>
        <div class="language-selector">
          <a
            href="#"
            class="lang-link text-primary hover:text-secondary px-2 transition-colors duration-300"
            >en</a
          >
          <a
            href="#"
            class="lang-link text-primary hover:text-secondary px-2 transition-colors duration-300"
            >fr</a
          >
          <a
            href="#"
            class="lang-link text-primary hover:text-secondary px-2 transition-colors duration-300"
            >es</a
          >
        </div>
      </div>
    </header>
    <div class="flex-grow">
      <slot />
    </div>
    <footer class="bg-dark text-white py-12 relative z-10">
      <div class="container mx-auto px-4">
        <!-- Header Section -->
        <div class="flex flex-wrap items-center justify-between mb-8">
          <!-- Logo -->
          <div class="w-24 md:w-32">
            <a href="#">
              <img
                src="/FIFA_Logo_White_Generic.webp"
                alt="FIFA"
                class="w-full"
              />
            </a>
          </div>

          <!-- Social Media -->
          <div class="hidden md:flex items-center gap-6">
            <a
              href="https://twitter.com/FIFAcom"
              class="text-white hover:text-secondary"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="currentColor"
              >
                <title>Twitter</title>
                <path
                  d="M13.09375 9.3125L21.28125 0L19.34375 0L12.230469 8.085938L6.550781 0L0 0L8.589844 12.226562L0 21.988281L1.941406 21.988281L9.449219 13.453125L15.449219 21.988281L22 21.988281ZM10.433594 12.332031L9.5625 11.117188L2.640625 1.429688L5.621094 1.429688L11.210938 9.246094L12.078125 10.464844L19.34375 20.625L16.363281 20.625Z"
                ></path>
              </svg>
            </a>
            <a
              href="https://www.facebook.com/fifa"
              class="text-white hover:text-secondary"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <title>Facebook</title>
                <path
                  d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
                ></path>
              </svg>
            </a>
            <a
              href="https://www.instagram.com/fifaworldcup"
              class="text-white hover:text-secondary"
            >
              <svg
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="currentColor"
              >
                <title>Instagram</title>
                <path
                  d="M11 1.98076C13.9373 1.98076 14.2849 1.99211 15.445 2.04494C16.5175 2.09385 17.0999 2.27287 17.4877 2.42352C17.966 2.59965 18.3988 2.88093 18.754 3.24659C19.1196 3.60177 19.4009 4.0345 19.577 4.51287C19.7277 4.90061 19.9067 5.4831 19.9556 6.5555C20.0084 7.71567 20.0198 8.06324 20.0198 11.0006C20.0198 13.9379 20.0084 14.2855 19.9556 15.4456C19.9067 16.518 19.7277 17.1005 19.577 17.4883C19.3938 17.9625 19.1135 18.3933 18.754 18.7528C18.3944 19.1123 17.9637 19.3927 17.4894 19.5759C17.1017 19.7265 16.5192 19.9055 15.4468 19.9544C14.2871 20.0073 13.9391 20.0186 11.0017 20.0186C8.06442 20.0186 7.71641 20.0073 6.55668 19.9544C5.48428 19.9055 4.90179 19.7265 4.51405 19.5759C4.03568 19.3997 3.60295 19.1185 3.24777 18.7528C2.88211 18.3976 2.60083 17.9649 2.4247 17.4865C2.27405 17.0988 2.09503 16.5163 2.04612 15.4439C1.99329 14.2837 1.98194 13.9361 1.98194 10.9988C1.98194 8.0615 1.99329 7.71393 2.04612 6.55376C2.09503 5.48135 2.27405 4.89886 2.4247 4.51112C2.60083 4.03275 2.88211 3.60002 3.24777 3.24485C3.60295 2.87918 4.03568 2.59791 4.51405 2.42177C4.90179 2.27113 5.48428 2.0921 6.55668 2.0432C7.71685 1.99036 8.06442 1.97901 11.0017 1.97901L11 1.98076Z"
                ></path>
                <path
                  d="M10.9995 5.35107C9.88238 5.35107 8.79031 5.68235 7.86142 6.30301C6.93254 6.92367 6.20856 7.80584 5.78104 8.83796C5.35352 9.87008 5.24166 11.0058 5.45961 12.1015C5.67756 13.1972 6.21552 14.2036 7.00547 14.9936C7.79542 15.7836 8.80188 16.3215 9.89758 16.5395C10.9933 16.7574 12.129 16.6456 13.1611 16.218C14.1932 15.7905 15.0754 15.0665 15.6961 14.1377C16.3167 13.2088 16.648 12.1167 16.648 10.9995C16.6481 10.2578 16.502 9.52322 16.2182 8.83789C15.9343 8.15257 15.5182 7.52986 14.9937 7.00534C14.4692 6.48082 13.8465 6.06476 13.1612 5.78092C12.4758 5.49708 11.7413 5.35102 10.9995 5.35107ZM10.9995 14.6674C10.2741 14.6674 9.56497 14.4523 8.9618 14.0492C8.35863 13.6462 7.88851 13.0734 7.6109 12.4032C7.33329 11.7329 7.26066 10.9955 7.40218 10.284C7.54371 9.57249 7.89303 8.91894 8.40599 8.40599C8.91894 7.89303 9.57249 7.5437 10.284 7.40218C10.9955 7.26066 11.7329 7.33329 12.4032 7.6109C13.0734 7.88851 13.6462 8.35863 14.0492 8.9618C14.4523 9.56497 14.6674 10.2741 14.6674 10.9995C14.6674 11.9723 14.2809 12.9052 13.5931 13.5931C12.9052 14.2809 11.9723 14.6674 10.9995 14.6674Z"
                ></path>
                <path
                  d="M16.8722 6.44721C17.6012 6.44721 18.1922 5.85624 18.1922 5.12723C18.1922 4.39823 17.6012 3.80725 16.8722 3.80725C16.1432 3.80725 15.5522 4.39823 15.5522 5.12723C15.5522 5.85624 16.1432 6.44721 16.8722 6.44721Z"
                ></path>
              </svg>
            </a>
            <a
              href="https://www.youtube.com/FIFATV"
              class="text-white hover:text-secondary"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="27"
                viewBox="0 0 16 16"
                fill="currentColor"
              >
                <title>Youtube</title>
                <path
                  d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                ></path>
              </svg>
            </a>
            <a
              href="https://www.tiktok.com/@fifaworldcup"
              class="text-white hover:text-secondary"
            >
              <svg
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="currentColor"
              >
                <title>TikTok</title>
                <path
                  d="M19.3809 -6.10352e-05H2.61905C1.1749 -6.10352e-05 0 1.17484 0 2.61899V19.3809C0 20.825 1.1749 21.9999 2.61905 21.9999H19.3809C20.8251 21.9999 22 20.825 22 19.3809V2.61899C22 1.17484 20.8251 -6.10352e-05 19.3809 -6.10352e-05ZM17.2889 9.5977C17.1687 9.60937 17.0481 9.61549 16.9274 9.61603C16.2758 9.61612 15.6343 9.45393 15.061 9.1441C14.4877 8.83427 14.0006 8.38656 13.6437 7.84136V13.8846C13.6437 14.7679 13.3817 15.6315 12.8909 16.366C12.4001 17.1005 11.7026 17.673 10.8864 18.0111C10.0703 18.3491 9.17218 18.4376 8.30576 18.2653C7.43934 18.0929 6.64349 17.6675 6.01883 17.0429C5.39418 16.4182 4.96878 15.6223 4.79644 14.7559C4.6241 13.8895 4.71255 12.9914 5.05061 12.1753C5.38867 11.3591 5.96116 10.6616 6.69567 10.1708C7.43019 9.67999 8.29375 9.41803 9.17714 9.41803C9.27038 9.41803 9.36152 9.42641 9.45319 9.43217V11.6332C9.36152 11.6222 9.27143 11.6055 9.17714 11.6055C8.57255 11.6055 7.99272 11.8456 7.56521 12.2731C7.13769 12.7007 6.89752 13.2805 6.89752 13.8851C6.89752 14.4897 7.13769 15.0695 7.56521 15.497C7.99272 15.9245 8.57255 16.1647 9.17714 16.1647C10.4364 16.1647 11.5484 15.1726 11.5484 13.9134L11.5704 3.64984H13.6761C13.7723 4.56477 14.1871 5.41678 14.8479 6.05687C15.5087 6.69697 16.3734 7.08443 17.2909 7.15151V9.5977"
                ></path>
              </svg>
            </a>
          </div>

          <!-- App Download Text -->
          <div class="hidden lg:block text-sm">
            Download the FIFA App today to enjoy more
          </div>

          <!-- App Store Buttons -->
          <div class="flex items-center gap-4">
            <a
              href="https://play.google.com/store/apps/details?id=com.fifa.fifaapp.android"
              target="_blank"
              rel="noopener"
            >
              <img
                src="/googlePlay.png"
                alt="Get it on Google Play"
                class="h-10"
              />
            </a>
            <a
              href="https://apps.apple.com/us/app/fifa-official-app/id756904853"
              target="_blank"
              rel="noopener"
            >
              <img
                src="/appleAppStore.png"
                alt="Download on the App Store"
                class="h-10"
              />
            </a>
          </div>
        </div>

        <hr class="border-gray-700 my-8" />

        <!-- Sponsors Section -->
        <section class="mb-8">
          <div
            class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-7 gap-8 items-center justify-items-center"
          >
            <img
              src="/sponsors/webimage-21C2BD1D-CF9B-4CDE-9022F9DB4CC0525E.png"
              alt="Sponsor"
              class="h-12 w-auto object-contain"
            />
            <img
              src="/sponsors/webimage-027C4A5E-EB41-41DB-B980697CE687F2AF.png"
              alt="Sponsor"
              class="h-12 w-auto object-contain"
            />
            <img
              src="/sponsors/webimage-0832E3C8-17F9-426F-89DBD13DA23566FE.png"
              alt="Sponsor"
              class="h-12 w-auto object-contain"
            />
            <img
              src="/sponsors/webimage-972E1841-CA68-47DE-8AD81D88945C282C.png"
              alt="Sponsor"
              class="h-12 w-auto object-contain"
            />
            <img
              src="/sponsors/webimage-853D93C7-304C-4D47-BB9AF4AAB5E0FBA0.png"
              alt="Sponsor"
              class="h-12 w-auto object-contain"
            />
            <img
              src="/sponsors/webimage-318366C4-78D6-4E45-8AA361F4F8998A54.png"
              alt="Sponsor"
              class="h-12 w-auto object-contain"
            />
            <img
              src="/sponsors/webimage-E040C0FB-B0C3-411B-9D407A4501191D23.png"
              alt="Sponsor"
              class="h-12 w-auto object-contain"
            />
          </div>
        </section>

        <hr class="border-gray-700 my-8" />

        <!-- Legal Links -->
        <div class="flex flex-wrap justify-between items-center">
          <div class="flex flex-wrap gap-8">
            <a href="#" class="text-sm uppercase hover:text-secondary"
              >Privacy Policy</a
            >
            <a href="#" class="text-sm uppercase hover:text-secondary"
              >Terms of Service</a
            >
            <button class="text-sm uppercase hover:text-secondary">
              Manage Cookie Preferences
            </button>
          </div>
          <div class="text-sm mt-4 md:mt-0">
            Copyright © 1994 - 2024 FIFA. All rights reserved.
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
